# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- name: Configure PostgreSQL users
  postgresql_user:
    name: "{{ item.name }}"
    encrypted: "{{ item.encrypted | default(omit) }}"
    password: "{% if item.auth_method is defined and item.auth_method == 'md5' %}md5{{ '{}{}'.format(item.name, item.name) | md5 }}{% else %}{{ item.name }}{% endif %}"
    port: "{{ postgresql_port }}"
    priv: "{{ item.priv | default(omit) }}"
    role_attr_flags: "{{ item.role_attr_flags | default(omit) }}"
    state: "{{ item.state | default(omit) }}"
  loop: "{{ postgresql_users }}"
  loop_control:
    label:
      name: "{{ item.name }}"
      state: "{{ item.state | default('present') }}"
  become: yes
  become_user: postgres

- name: Configure PostgreSQL databases
  postgresql_db:
    name: "{{ item.name }}"
    encoding: "{{ item.encoding | default(omit) }}"
    lc_collate: "{{ item.lc_collate | default(omit) }}"
    lc_ctype: "{{ item.lc_ctype | default(omit) }}"
    owner: "{{ item.owner | default(omit) }}"
    port: "{{ postgresql_port }}"
    state: "{{ item.state | default(omit) }}"
    template: "{{ item.template | default(omit) }}"
  loop: "{{ postgresql_databases }}"
  become: yes
  become_user: postgres

- name: Configure PostgreSQL schemas
  postgresql_schema:
    name: "{{ item.name }}"
    cascade_drop: "{{ item.cascade_drop | default(omit) }}"
    database: "{{ item.database | default(omit) }}"
    owner: "{{ item.owner | default(omit) }}"
    port: "{{ postgresql_port }}"
    state: "{{ item.state | default(omit) }}"
  loop: "{{ postgresql_schemas }}"
  become: yes
  become_user: postgres
