# Copyright 2022 TOSIT.IO
# SPDX-License-Identifier: Apache-2.0

---
- hosts: all
  tasks:
    - import_role:
        name: tosit.tdp_prerequisites.system

- hosts: yarn_nm
  tasks:
    - import_role:
        name: tosit.tdp_prerequisites.system
        tasks_from: cgroups.yml
